section#advantage {

}
section#advantage .wrap {

  padding-top: 60px;
}
section#advantage .wrap hgroup {
  padding-bottom: 30px;
}
section#advantage .wrap hgroup h2 {
  display: flex;
  justify-content: center;
  color: #ff5484;
}
section#advantage .wrap hgroup h3 {
  color: #959392;
  display: flex;
  justify-content: center;
}
section#advantage .wrap ul.top {

  padding-bottom: 100px;
}
section#advantage .wrap ul.top li {
  margin-right: 15px;
}
section#advantage .wrap ul.top li a {

}
section#advantage .wrap ul.top li a img {

  border-radius: 10px;
}
section#advantage .wrap ul.bottom {

  position: relative;
  padding-bottom: 150px;
}
section#advantage .wrap ul.bottom li {

  margin-right: 90px;
}
section#advantage .wrap ul.bottom li span{
  align-items: center;
}
section#advantage .wrap ul.bottom li span h6{
color:#ff5484;
padding-right: 20px;
}
section#advantage .wrap ul.bottom li span p{
  
  color: #858585;
  font-weight: normal;
}
section#advantage .wrap ul.bottom li a {
  display: flex;
  flex-direction: column;
  color: #ff5484;
  margin-top: 30px;
}

section#advantage .wrap ul.bottom li a::after{
  content:"";
  display: block;
  width: 731px;
  height: 216px;
}

section#advantage .wrap ul.bottom li:nth-child(1) a::after{
  background-image:url(../img/map.png)
}
section#advantage .wrap ul.bottom li:nth-child(2) a::after{
  background-image:url(../img/story.png);
  position: absolute;
  top: -25px;
  width: 605px;
  height: 378px;
  background-repeat: no-repeat;
}

section#advantage .wrap ul.bottom li a img {

}