section#better {
  
  background-color: #f4e8df;
}
section#better .wrap {
  padding-top: 150px;
}
section#better .wrap hgroup {
  
  align-items: center;
  padding-bottom: 40px;
}
section#better .wrap hgroup h2 {
  color: #ff5484;
  font-weight: bold;
}
section#better .wrap hgroup h3 {
  color: #858585;
  margin-top: 10px;
}
section#better .wrap ul {
  flex-wrap: wrap;
  justify-content: center;
}
section#better .wrap ul li {
  margin: 0 10px 10px 0;
}
section#better .wrap ul li:nth-child(3){
  
  width: 76%;
}
section#better .wrap ul li a {
  width: 565px;
  height: 264px;
  background-color: white;
  border-radius: 20px;
}

section#better .wrap ul li a span{
  padding: 9px;
}
section#better .wrap ul li a::before{
  
  width: 322px;
  height: 264px;
  display: block;
  content: "";
}
section#better .wrap ul li:nth-child(1) a::before{
  background-image: url(../img/better1.png);
}
section#better .wrap ul li:nth-child(2) a::before{
  background-image: url(../img/better2.png);
}
section#better .wrap ul li:nth-child(3) a::before{
  background-image: url(../img/better3.png);
}
section#better .wrap ul li a h3 {
  padding: 15px;
}
section#better .wrap ul li:nth-child(1) a h3 {
color:#947244;
}
section#better .wrap ul li:nth-child(2) a h3 {
color:#fd565a;
}
section#better .wrap ul li:nth-child(3) a h3 {
color:#00a000;
}
section#better .wrap ul li a p {
  padding: 0 0 0 14px;
  color: #464646;
}