section#footer {
  background-color: #1c1b18;
  color: #ffffff;
  height: 70vh;
}
section#footer .wrap {
  
}
section#footer .wrap ul.top {
  padding: 40px 0 20px 0;
}
section#footer .wrap ul.top li {
  
}
section#footer .wrap ul.top li a {
  color: white;
  font-size: 12px;
  padding: 0 58px 0 0;
}
section#footer .wrap ul.top li:nth-child(10) a{
padding-right:0;  
}

section#footer .wrap ul.top li a::after{
  content:"";
  border-bottom: 1px solid #333230;
  display: block;
  padding-top: 20px;
}
section#footer .wrap .middle {
  
  position: relative;
}
section#footer .wrap .middle::after {
  content:"";
  display: block;
  height: 1px;
  background-color: #333230;
  width: 100%;
  position: absolute;
  bottom: -18px;
}
section#footer .wrap .middle ul.add {
  
}
section#footer .wrap .middle ul.add li {
  
}
section#footer .wrap .middle ul.add li img {
  
}
section#footer .wrap .middle ul.add li {
  
}
section#footer .wrap .middle ul.add li p {
  color: #3f3e3c;
  font-size: 12px;
  line-height: 30px;
}
section#footer .wrap .middle ul.add li p.rights {
}
section#footer .wrap .middle ul.map {
  padding-left: 200px;
}
section#footer .wrap .middle ul.map>li {
  padding-right: 60px;
}
section#footer .wrap .middle ul.map > li:last-child{
  padding-right:0;  
}
section#footer .wrap .middle ul.map li ul.mapdetail {
  
}
section#footer .wrap .middle ul.map li ul.mapdetail li {
  
}
section#footer .wrap .middle ul.map li ul.mapdetail li a {
  color: white;
  line-height: 36px;
}
section#footer .wrap .middle ul.map li ul.mapdetail li:nth-child(1) a{
font-size:24px;
color:#494846;
font-weight: bold;
}
section#footer .wrap .middle ul.map li ul.mapdetail li:not(first-child) a{
font-size: 15px;  
}
section#footer .wrap .middle .bottom {
  
}
section#footer .wrap .middle .bottom ul.logo {
  
}
section#footer .wrap .middle .bottom ul.logo li {
  
}
section#footer .wrap .middle .bottom ul.logo li a {
    color: white;
}
section#footer .wrap .middle .bottom ul.logo li a img {
  
}


section#footer .wrap .middle .bottom ul.sns {
  
}
section#footer .wrap .middle .bottom ul.sns li {
  
}
section#footer .wrap .middle .bottom ul.sns li a {
  
}
section#footer .wrap .middle .bottom ul.sns select {
  
}
section#footer .wrap .middle .bottom ul.sns select option {
  
}
section#footer .bottom{
  padding-top: 40px;
}

section#footer .bottom ul.sns>li a{
  font-size:0px;
  display: block;
  width: 53px;
  height: 36px;
  background-repeat: no-repeat;
  padding-right: 30px;
}
section#footer .bottom ul.sns>li:nth-child(1) a{
background-image:url(../img/btn_instagram.png)
}
section#footer .bottom ul.sns>li:nth-child(2) a{
background-image:url(../img/btn_youtube.png)
}
section#footer .bottom ul.sns>li:nth-child(3) a{
background-image:url(../img/btn_facebook.png)
}
section#footer .bottom ul.sns>li:nth-child(4) a{
background-image:url(../img/btn_magazine.png)
}

section#footer .bottom ul.logo>li:nth-child(1) a img{
  padding-right: 30px;
}
section#footer .bottom ul.logo>li:nth-child(2) a img{
  padding-right: 30px;
}
section#footer .bottom ul.logo>li:nth-child(3) a img{
  padding-right: 10px;
}
section#footer .bottom ul.logo>li:nth-child(4) a img{
  padding-right: 10px;
}

section#footer .bottom ul.sns select{
  font-weight: bold;
  padding-left: 12px;
  border-radius: 20px;
}

section#footer .bottom ul.sns select::after{
  content: "";
  background-image:url(../img/icon_select.png);
  display:block;
  width:10px;
  height:10px;
}