body {
  position: relative;
  overflow-x: hidden;
} 

header {
z-index: 1;
position: fixed;
width: 100%;
top: 0px;
height: 100px;
padding-top: 5px;
}
header:hover{
  background-color: #f986bd;
}
header .wrap {
  height: 100%;
  align-items: center;
}
header .wrap h1 {
  font-size: 0;
  width: 52px;
  height: 60px;
  background-image: url(../img/h_logo.png);
  margin-right: 47px;
  background-repeat: no-repeat;
}
header .wrap:hover h1 {
  background-image: url(../img/h_logo_white.png);
}
header .wrap ul.gnb {

  align-items: center;
}
header .wrap ul.gnb li {

}
header .wrap ul.gnb li a {
  padding: 20px 16px;
}
header .wrap:hover ul.gnb li a{
  color:white;  
}
header .wrap:hover ul.gnb li a:hover{
  color:black;
}
header .wrap ul.log {

}
header .wrap ul.log li {

}
header .wrap ul.log li a {

}
header .wrap ul.log li a.search {
  background-image: url(../img/btn_search.png);
  background-repeat: no-repeat;
  border-bottom: 2px solid #e01682;
  width: 200px;
  display: block;
  font-size: 0;
  height: 28px;
  background-position-x: 176px;
}
header .wrap:hover ul.log li a.search{
  background-image: url(../img/btn_search_white.png);
  border-bottom: 2px solid white;
}

header .wrap ul.log li a.log_in {
  font-size: 0;
  display: block;
  width: 26px;
  height: 29px;
  background-image: url(../img/btn_user_menu.png);
  background-repeat: no-repeat;
  margin-left: 20px;
}

header .wrap:hover ul.log li a.log_in {
 background-image: url(../img/btn_user_menu_white.png);
}