section#new {
  background-color: #ffe4ea;
  padding-top: 50px;
  position: relative;
}
section#new .wrap {

}
section#new .wrap hgroup {
  margin: auto;
  padding-top: 30px;
}
section#new .wrap hgroup h2 {
  color: #ff5484;
  font-weight: bold;
}
section#new .wrap hgroup h3 {
  color: #858585;
  margin-bottom: 30px;
}
section#new .wrap ul.prod {
  display: grid;
  grid-template-columns: 31% auto auto;
  grid-template-rows: auto auto;
  width: 80%;
  margin: 0 auto;
  row-gap: 6px;
}
section#new .wrap ul.prod li {
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
}
section#new .wrap ul.prod li:nth-child(1){
  grid-column: 1;
  grid-row: 1 / span 2;
  background-image: url(../img/prod21.jpg);
}
section#new .wrap ul.prod li:not(:first-child){
    background-color: white;
}
section#new .wrap ul.prod li::after{
  
  display: block;
  width: 201px;
  height: 253px;
  content: "";
  border-radius: 20px;
}
section#new .wrap ul.prod li:nth-child(2)::after{
  background-image: url(../img/prod22.jpg);
}
section#new .wrap ul.prod li:nth-child(3)::after{
  background-image: url(../img/prod23.jpg);
}
section#new .wrap ul.prod li:nth-child(4)::after{
  background-image: url(../img/prod24.jpg);
}
section#new .wrap ul.prod li:nth-child(5)::after{
  background-image: url(../img/prod25.jpg);
}

section#new .wrap ul.prod li a{

}  
section#new .wrap ul.prod li a h3{
  text-align: left;
  padding-left: 250px;
  padding-top: 40px;
  position: absolute;
}
section#new .wrap ul.prod li:not(:first-child) a h3::after{
  content:"";
  width: 45px; 
  height: 45px;
  border-radius: 50%;
  background-image: url(../img/icon_new_button.png);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  transform: translatex(80px) translateY(110px);
}
section#new .wrap ul.prod li:nth-child(2) a h3::after{
background-color: #ffedd8;
}
section#new .wrap ul.prod li:nth-child(3) a h3::after{
background-color: #edc4b3;
}
section#new .wrap ul.prod li:nth-child(4) a h3::after{
background-color: #ffedd8;
}
section#new .wrap ul.prod li:nth-child(5) a h3::after{
background-color: #f0ead2;
}
section#new .wrap ul.prod li a ul{

}
section#new .wrap ul.prod li ul.pname li {

}


section#new .wrap ul.prod li li a {

}
section#new .wrap ul.prod li li a ul.pname {

}
section#new .wrap ul.prod li li a ul.pname li {

}